body 
{ color: rgb(226, 43, 43); background-color: #25b1b1; ;}

.box {
    display:flex ;
    flex-wrap:wrap;
justify-content: space-around



 }

 .all{
    display:flex;
    flex-direction: column;
    justify-content: first baseline;
    color: #f8ec89;
    font-size: 20px;
    text-align: center; 
    }
























